/*----------
1.desktop view
2.Responsive design
*/


/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');



/*Desktop view*/
.background-cover{
	background:url(../img/bg.jpg);
  background-size: cover;
  height: 100vh;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.navbar-default{
  transition:500ms ease;
  border:0px;
  background:transparent;
}
.navbar-default.scrolled
{
  background:rgba(24, 51, 128, 0.952);
}
.heading{
	color: #2E9CCA;
}
.home-content{
	margin-top:18%;
	margin-bottom: 15%;
	text-align: center;
	color: white;


}
.boxshadow{
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

}
.know-more{
	margin-top: 5%;
}
.know-us {
  font-size: 35px;
  padding-bottom: 2%;
}
.know-para{
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-size: 20px;
}
.link-color{
	color: white;
	font-weight: bold;
}
.link-color:hover{
  color:rgba(236, 148, 32, 0.89);
}

.navbar{
  padding-right: 8%;
}
.navbar li{
  padding-left: 20px;
}
.background-cover h1{
  font-size: 110px;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  transform: translateY(200px);
  color: rgba(49, 40, 63, 0.911);
}
/*
.intro-option2{
  display: block;
}
.intro-option2 h1 {
  font-size: 30px;
  font-weight: 500;
}
.intro-option2 h1::before {
  display: inline-block;
  content: "";
  border-top: .3rem solid rgb(58, 53, 65);
  width: 10rem;
  margin: 0 1rem;
  transform: translateY(-.7rem);
}
*/
.cover-footer h4{
  font-size: 22px;
}
.cover-footer h4::before {
  display: inline-block;
  content: "";
  border-top: .3rem solid rgb(58, 53, 65);
  width: 10rem;
  margin: 0 1rem;
  transform: translateY(-.6rem);
}
.intro-option2 h4{
  text-align: center;
  transform: translateY(210px);
  font-size: 25px;
  font-weight: bold;
  color: rgba(31, 31, 82, 0.856);
  
}
.button-area{
  text-align: center;
  transform: translateY(250px)
}
.explore{
  font-size: 25px;
  text-align: center;
  display: inline;
  border: 2px solid rgb(36, 38, 58);;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 25px;
  margin-right: 10px;
}
.booking{
  font-size: 25px;
  text-align: center;
  display: inline;
  border: 2px solid rgb(36, 38, 58);;
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 25px;
  background-color: rgb(36, 38, 58);
  color: white;
  
}
.explore:hover{
  background-color:rgb(36, 38, 58);
  color: white; 
  cursor: pointer;
}
.booking:hover{
  background-color:rgb(63, 78, 214);
  border: 2px solid rgb(63, 78, 214);
  cursor: pointer;
}
.cover-footer{
  transform: translateY(400px);
  padding-left:25%;


}
/*Mouse button*/
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.mouse_scroll {
  cursor: pointer;
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid rgb(36, 38, 58);
  border-bottom: 2px solid rgb(36, 38, 58);
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid rgb(36, 38, 58);
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: rgb(36, 38, 58);
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid rgb(36, 38, 58);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}



/*Responsive design*/

@media only screen and (max-width: 736px) {
    .navbar{
      padding-right: 0 !important;
    }
  
    .explore{
      display: block;
      font-size: 20px;
      text-align: center;
      display: inline;
      border: 2px solid rgb(36, 38, 58);;
      padding: 8px;
      padding-right: 20px;
      padding-left: 20px;
      border-radius: 25px;
      margin-right: 10px;
    }
    .booking{
      display: block;
      font-size: 20px;
      text-align: center;
      display: inline;
      border: 2px solid rgb(36, 38, 58);;
      padding: 8px;
      padding-right: 20px;
      padding-left: 20px;
      border-radius: 25px;
      background-color: rgb(36, 38, 58);
      color: white;
      
    }
  .navbar li{
  padding-left: opx !important;
  }

    .navbar-custom {
        min-height: 0px;
    }
    .navbar-toggle {
        margin-right: 10px;
        border: none;
        color: black;
    }
    .collapsing,
    .in {
        background-color:  rgba(24, 51, 128, 0.952);
    }
    .collapsing ul>li>a,
    .in ul>li>a {
        color: #FFFFFF!important;
        text-shadow: #FFFFFF 0px 0px 0.2px!important;
    }
    .navbar-collapse .navbar-nav .active a,
    .navbar-collapse .navbar-nav .active a:hover,
    .navbar-collapse.navbar-nav .active a:focus {
        background-color: transparent;
        color: rgba(0, 0, 0, 0.938)!important;
        text-shadow: black 0px 0px 0.2px!important;
    }
    .navbar-collapse>.navbar-nav>li>a:hover,
    .navbar-collapse>.navbar-nav>li>a:focus {
        background-color: transparent;
        color: black !important;
    }
    .background-cover{
      height: 100vh;
      width: 100%;
    }
    .background-cover h1{
      transform: translateY(80px) !important;
      font-size: 45px;
    }
    .background-cover .button-area{
      transform: translateY(130px) !important;
    }
    .intro-option2 h1{
      font-size: 20px !important;
    }
    .cover-footer{
      transform: translateY(180px);
    
    }
    .intro-option2 h4{
      text-align: center;
      transform: translateY(100px);
      font-size: 13px;
      font-weight: bold;
      color: rgba(31, 31, 82, 0.856);
    }
    .cover-footer h4{
      
      font-size: 15px;
    }  
    .cover-footer h4::before {
      display: inline-block;
      content: "";
      border-top: .1rem solid rgb(58, 53, 65);
      width: 4rem;
      margin: 0 rem;
      transform: translateY(-.5rem);
    }
    .cover-footer{
      padding-left: 2%;
    }
    .mouse-button{
    }
}
/*Above 5" phone*/
@media only screen and (max-width:580px)
{
  #home{
    padding-top: 10% ;
  }
  .background-cover h1{

    font-size: 40px !important;
  }
  .intro-option2 h1{
    font-size: 24px !important;
  }
  .mouse-button{
    padding-top: 12%;
    }
    .cover-footer{
      padding-left: 4% !important;
    }
  }  
/*Iphone SE category*/
@media only screen and (max-width:320px)
{
  #home{
    padding-top: 0px !important;
  }
  .mouse-button{
    padding-top: 5%;
    }
  }  
 .cover-footer{
 }
}